/*
author: FireIsGood
source: https://discord.com/channels/686053708261228577/702656734631821413/1197525971356622949
*/

.callout-title-inner {
  margin-inline: auto;
}

.callout-fold {
  margin-left: unset;
}
