/*
author: the.tablet
source: https://discord.com/channels/686053708261228577/702656734631821413/1261066509565038622
*/

.callout {
  background-color: transparent;
  border: 2px solid rgb(var(--callout-color));
}

.callout:not(.callout.is-collapsed)>.callout-title {
  border-bottom: 2px solid rgb(var(--callout-color)) !important;
  margin-inline-start: -1.5em;
  margin-inline-end: -1em;
  padding: 0 1em;
  padding-bottom: 0.5em;
}
