/*
author: TfTHacker
source: https://discord.com/channels/686053708261228577/1050087185602334833/1179102651372286032
*/

.canvas-card-menu {
  left: unset;
  transform: unset;
  right: 7px;
  display: unset;
  bottom: 50px;
}
